In [16]:
import pandas as pd 

dates = pd.date_range(start = "2025-01-01", end = "2025-12-31")

dim_date = pd.DataFrame({
    'date': dates,
    'year': dates.year,
    'month': dates.month,
    'day': dates.day,
    'quarter': dates.quarter,
    'day_name': dates.day_name(),
    'month_name': dates.month_name(),
}
)

# dim_date.set_index('date', inplace=True)
dim_date = dim_date.reset_index()
dim_date.insert(0,'date_key',range(1, len(dim_date) + 1))
dim_date = dim_date.drop('index', axis=1)
dim_date

     date_key       date  year  month  day  quarter   day_name month_name
0           1 2025-01-01  2025      1    1        1  Wednesday    January
1           2 2025-01-02  2025      1    2        1   Thursday    January
2           3 2025-01-03  2025      1    3        1     Friday    January
3           4 2025-01-04  2025      1    4        1   Saturday    January
4           5 2025-01-05  2025      1    5        1     Sunday    January
..        ...        ...   ...    ...  ...      ...        ...        ...
360       361 2025-12-27  2025     12   27        4   Saturday   December
361       362 2025-12-28  2025     12   28        4     Sunday   December
362       363 2025-12-29  2025     12   29        4     Monday   December
363       364 2025-12-30  2025     12   30        4    Tuesday   December
364       365 2025-12-31  2025     12   31        4  Wednesday   December

[365 rows x 8 columns]

as of now we have good dim_date table we can export it to csv file to later use it in our ssms

In [17]:
dim_date.to_csv("dim_date.csv", index=False)

In [18]:
dim_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date_key    365 non-null    int64
 1   date        365 non-null    datetime64[ns]
 2   year        365 non-null    int32
 3   month       365 non-null    int32
 4   day         365 non-null    int32
 5   quarter     365 non-null    int32
 6   day_name    365 non-null    object
 7   month_name  365 non-null    object
dtypes: datetime64[ns](1), int32(4), int64(1), object(2)
memory usage: 17.2+ KB