first we read the file

In [2]:
import pandas as pd

df1 = pd.read_csv("branch_logs.txt", sep=r"\s+-\s+",   header=None, engine="python")

df1

,0,1,2,3,4,5
0,Account 532947,C398,Branch: Georgia Branch,2025-12-30,Card Purchase,$19331.7
1,Account 702287,C563,Branch: Hawaii Branch,2025-04-15,Fee,$1205.53
2,Account 721606,C1443,Branch: Louisiana Branch,2025-08-04,Withdrawal,$15797.45
3,Account 532004,C1321,Branch: Delaware Branch,2025-11-11,Deposit,$13065.22
4,Account 662185,C1121,Branch: Michigan Branch,2024-04-28,Transfer,$7899.69
...,...,...,...,...,...,...
1995,Account 183678,C997,Branch: New Hampshire Branch,2024-12-27,Online,$5600.01
1996,Account 866620,C464,Branch: Missouri Branch,2024-04-24,Online,$10917.88
1997,Account 255523,C35,Branch: Virginia Branch,2025-07-05,Online,$14020.99
1998,Account 842750,C431,Branch: Hawaii Branch,2025-10-15,Deposit,$-149.62
1999,Account 901854,C1237,Branch: Idaho Branch,2024-12-17,Card Purchase,$1967.27

when we got it to look of dataframe we start working with the file. we can start by giving column names

In [3]:
df1.columns = ["account_id", "customer_id", "branch_name", "date", "transaction_type", "amount"]

df1

,account_id,customer_id,branch_name,date,transaction_type,amount
0,Account 532947,C398,Branch: Georgia Branch,2025-12-30,Card Purchase,$19331.7
1,Account 702287,C563,Branch: Hawaii Branch,2025-04-15,Fee,$1205.53
2,Account 721606,C1443,Branch: Louisiana Branch,2025-08-04,Withdrawal,$15797.45
3,Account 532004,C1321,Branch: Delaware Branch,2025-11-11,Deposit,$13065.22
4,Account 662185,C1121,Branch: Michigan Branch,2024-04-28,Transfer,$7899.69
...,...,...,...,...,...,...
1995,Account 183678,C997,Branch: New Hampshire Branch,2024-12-27,Online,$5600.01
1996,Account 866620,C464,Branch: Missouri Branch,2024-04-24,Online,$10917.88
1997,Account 255523,C35,Branch: Virginia Branch,2025-07-05,Online,$14020.99
1998,Account 842750,C431,Branch: Hawaii Branch,2025-10-15,Deposit,$-149.62
1999,Account 901854,C1237,Branch: Idaho Branch,2024-12-17,Card Purchase,$1967.27

now we need to remove not needed words from the rows. words like account and branch

In [4]:
df1["account_id"] = df1["account_id"].str.extract(r'Account (\d+)')

df1

,account_id,customer_id,branch_name,date,transaction_type,amount
0,532947,C398,Branch: Georgia Branch,2025-12-30,Card Purchase,$19331.7
1,702287,C563,Branch: Hawaii Branch,2025-04-15,Fee,$1205.53
2,721606,C1443,Branch: Louisiana Branch,2025-08-04,Withdrawal,$15797.45
3,532004,C1321,Branch: Delaware Branch,2025-11-11,Deposit,$13065.22
4,662185,C1121,Branch: Michigan Branch,2024-04-28,Transfer,$7899.69
...,...,...,...,...,...,...
1995,183678,C997,Branch: New Hampshire Branch,2024-12-27,Online,$5600.01
1996,866620,C464,Branch: Missouri Branch,2024-04-24,Online,$10917.88
1997,255523,C35,Branch: Virginia Branch,2025-07-05,Online,$14020.99
1998,842750,C431,Branch: Hawaii Branch,2025-10-15,Deposit,$-149.62
1999,901854,C1237,Branch: Idaho Branch,2024-12-17,Card Purchase,$1967.27

In [5]:
df1["branch_name"] = df1["branch_name"].str.extract(r'Branch:\s*(.+)')

df1

,account_id,customer_id,branch_name,date,transaction_type,amount
0,532947,C398,Georgia Branch,2025-12-30,Card Purchase,$19331.7
1,702287,C563,Hawaii Branch,2025-04-15,Fee,$1205.53
2,721606,C1443,Louisiana Branch,2025-08-04,Withdrawal,$15797.45
3,532004,C1321,Delaware Branch,2025-11-11,Deposit,$13065.22
4,662185,C1121,Michigan Branch,2024-04-28,Transfer,$7899.69
...,...,...,...,...,...,...
1995,183678,C997,New Hampshire Branch,2024-12-27,Online,$5600.01
1996,866620,C464,Missouri Branch,2024-04-24,Online,$10917.88
1997,255523,C35,Virginia Branch,2025-07-05,Online,$14020.99
1998,842750,C431,Hawaii Branch,2025-10-15,Deposit,$-149.62
1999,901854,C1237,Idaho Branch,2024-12-17,Card Purchase,$1967.27

In [6]:
df1["amount"] = df1["amount"].str.replace("$", "", regex=False).astype(float)

df1

,account_id,customer_id,branch_name,date,transaction_type,amount
0,532947,C398,Georgia Branch,2025-12-30,Card Purchase,19331.70
1,702287,C563,Hawaii Branch,2025-04-15,Fee,1205.53
2,721606,C1443,Louisiana Branch,2025-08-04,Withdrawal,15797.45
3,532004,C1321,Delaware Branch,2025-11-11,Deposit,13065.22
4,662185,C1121,Michigan Branch,2024-04-28,Transfer,7899.69
...,...,...,...,...,...,...
1995,183678,C997,New Hampshire Branch,2024-12-27,Online,5600.01
1996,866620,C464,Missouri Branch,2024-04-24,Online,10917.88
1997,255523,C35,Virginia Branch,2025-07-05,Online,14020.99
1998,842750,C431,Hawaii Branch,2025-10-15,Deposit,-149.62
1999,901854,C1237,Idaho Branch,2024-12-17,Card Purchase,1967.27

In [8]:
df1.isnull().sum()
df1.isna().sum()

account_id          0
customer_id         0
branch_name         0
date                0
transaction_type    0
amount              0
dtype: int64

after completing working with format now we check for negative values and info for only happened in 2025

In [9]:
df1["date"] = pd.to_datetime(df1["date"], format="%Y-%m-%d", errors="coerce")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account_id        2000 non-null   object
 1   customer_id       2000 non-null   object
 2   branch_name       2000 non-null   object
 3   date              2000 non-null   datetime64[ns]
 4   transaction_type  2000 non-null   object
 5   amount            2000 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 93.9+ KB

In [10]:
df_2024 = df1[df1["date"].dt.year == 2024]

df_2024

# df["date"].dt.year.value_counts()

df1 = df1[df1["date"].dt.year == 2025]

df1

,account_id,customer_id,branch_name,date,transaction_type,amount
0,532947,C398,Georgia Branch,2025-12-30,Card Purchase,19331.70
1,702287,C563,Hawaii Branch,2025-04-15,Fee,1205.53
2,721606,C1443,Louisiana Branch,2025-08-04,Withdrawal,15797.45
3,532004,C1321,Delaware Branch,2025-11-11,Deposit,13065.22
6,276310,C1453,Arkansas Branch,2025-04-15,Online,1713.31
...,...,...,...,...,...,...
1986,629041,C494,West Virginia Branch,2025-07-04,Deposit,13431.31
1991,484464,C240,Virginia Branch,2025-02-12,Refund,936.63
1994,790656,C263,Hawaii Branch,2025-04-13,ATM,15736.38
1997,255523,C35,Virginia Branch,2025-07-05,Online,14020.99
1998,842750,C431,Hawaii Branch,2025-10-15,Deposit,-149.62

since we cleaned the data from prvs year now we need to remove negative data

In [11]:
# df[df["amount"] <= 0].count()

df1 = df1[df1["amount"] > 0]

df1

,account_id,customer_id,branch_name,date,transaction_type,amount
0,532947,C398,Georgia Branch,2025-12-30,Card Purchase,19331.70
1,702287,C563,Hawaii Branch,2025-04-15,Fee,1205.53
2,721606,C1443,Louisiana Branch,2025-08-04,Withdrawal,15797.45
3,532004,C1321,Delaware Branch,2025-11-11,Deposit,13065.22
6,276310,C1453,Arkansas Branch,2025-04-15,Online,1713.31
...,...,...,...,...,...,...
1984,928154,C1092,Rhode Island Branch,2025-09-30,Payment,14287.39
1986,629041,C494,West Virginia Branch,2025-07-04,Deposit,13431.31
1991,484464,C240,Virginia Branch,2025-02-12,Refund,936.63
1994,790656,C263,Hawaii Branch,2025-04-13,ATM,15736.38
1997,255523,C35,Virginia Branch,2025-07-05,Online,14020.99

since now we have only positive data and period for 2025 we can export this data to csv to later upload to our database

In [13]:
df1.to_csv("branch_logs.csv", index=False)

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 987 entries, 0 to 1997
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account_id        987 non-null    object
 1   customer_id       987 non-null    object
 2   branch_name       987 non-null    object
 3   date              987 non-null    datetime64[ns]
 4   transaction_type  987 non-null    object
 5   amount            987 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 54.0+ KB